
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理后台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">年</span>
                                <h5>总会员</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{$count.all_user}</h1>
                             <!--   <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                                </div>-->
                                <small>会员注册总数量</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">今</span>
                                <h5>今日注册</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{$count.today}</h1>
                                <div class="stat-percent font-bold text-info">{$count.today_ratio}%<i class="fa fa-level-up"></i>
                                </div>
                                <small>今天注册会员数量</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">年</span>
                                <h5>认证会员</h5>
                            </div>
                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="no-margins">{$count.renzheng}</h1>
                                        <div class="font-bold text-navy">{$count.renzheng_ratio}%<i class="fa fa-level-up"></i>
                                            <small>已实名认证</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="no-margins">{$count.activation}</h1>
                                        <div class="font-bold text-navy">{$count.activation_ratio}%<i class="fa fa-level-up"></i>
                                            <small>已激活</small>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5></h5>
                                <div class="ibox-tools">
                                    <span class="label label-primary">{$time}/时 更新</span>
                                </div>
                            </div>
                            <div class="ibox-content no-padding">
                                <div class="flot-chart m-t-lg" style="height: 55px;">
                                    <div class="flot-chart-content" id="flot-chart1"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div>
                                        <span class="pull-right text-right">
                                        <small><strong></strong></small>
                                            <br/>

                                        </span>
                                    <h3 class="font-bold no-margins">
                                        定期记录 </h3>
                                    <small>买入定期/释放完成</small>
                                </div>

                                <div class="m-t-sm">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div>
                                                <canvas id="lineChart" height="114"></canvas>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="stat-list m-t-lg">
                                                <li>
                                                    <h2 class="no-margins">{$state_0}</h2>
                                                    <small>定期总订单</small>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar" style="width: 48%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h2 class="no-margins ">{$state_0}</h2>
                                                    <small>定期完成订单</small>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar" style="width: 60%;"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">
                                        <i class="fa fa-clock-o"> </i> {$time}时  更新
                                    </small>
                                    <small>
                                        <strong>说明：</strong> 两小时更新一次
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>订单统计</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日充值申请</small>
                                        <h4>{$recharge_log.today_state_0}</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日充值完成</small>
                                        <h4>{$recharge_log.today_state_1}</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日充值驳回</small>
                                        <h4>{$recharge_log.today_state_2}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日提现申请</small>
                                        <h4>{$propose_log.today_state_0}</h4>
                                    </div>

                                    <div class="col-xs-4">
                                        <small class="stats-label">今日提现完成</small>
                                        <h4>{$propose_log.today_state_1}</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日提现完成</small>
                                        <h4>{$propose_log.today_state_2}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <small class="stats-label">今日买入定期</small>
                                        <h4>{$dingqi_today}</h4>
                                    </div>
                                       <div class="col-xs-4">
                                        <small class="stats-label">执行释放</small>
                                        <h4> <button type="button" class="btn btn-primary shifang" style="text-align: center;">释放今日奖励</button></h4>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/home/js/content.js?v=1.0.0"></script>
<script src="/static/home/js/jquery.flot.js"></script>
<script src="/static/home/js/jquery.flot.tooltip.min.js"></script>
<script src="/static/home/js/jquery.flot.resize.js"></script>
<script src="/static/home/js/Chart.min.js"></script>
<script src="/static/home/js/jquery.peity.min.js"></script>
<script src="/static/home/js/peity-demo.min.js"></script>
<script src="__JS__/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];
        var data1 = [{label: "数据1", data: d1, color: "#17a084"}, {label: "数据2", data: d2, color: "#127e68"}];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {tickDecimals: 0},
            series: {
                lines: {show: true, fill: true, fillColor: {colors: [{opacity: 1}, {opacity: 1}]},},
                points: {width: 0.1, show: false},
            },
            grid: {show: false, borderWidth: 0},
            legend: {show: false,}
        });
        var lineData = {
            labels: {$show_time},
            datasets: [{
                label: "买入记录",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {$found}
            }, {
                label: "释放完成记录",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: {$complete}
            }]
        };
        var lineOptions = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            responsive: true,
        };
        var ctx = document.getElementById("lineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions)
    });
</script>
<script type="text/javascript">
    $('.shifang').click(function(){
            layer.confirm('是否发放奖励？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                     $.post("{:url('index/shifang')}",{id:1},function(re){
                                if(re.code == 1011){
                                        layer.msg(re.msg,{time:1500},function(){
                                              window.location.reload();
                                        });
                                }else{
                                        layer.msg(re.msg,{time:1500},function(){
                                              window.location.reload();
                                        });
                                }
                        });
                }, function(){
                    layer.msg('已取消操作',{time:1500});
                });




    });
</script>
</body>

</html>
