{include file="public/header" /}
<style type="text/css">
    /*elementUI分页样式*/
    .layout-pagination {
        text-align: right;
        margin-top: 15px;
    }
    .table th {
        text-align: center;
    }
    .table tr td {
        text-align: center;
    }
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins" id="app" v-cloak>
        <div class="ibox-title">
            <h5>会员列表</h5>
        </div>
        <div class="ibox-content">
            <!--工具条-->
            <el-form  class="demo-form-inline">
                <el-form-item>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" class="form-control" v-model="key" placeholder="用户手机号或姓名" />
                        </div>
                        <div class="col-md-1">
                            <select name="type" id="type" v-model="type"  class="form-control">
                                <option value="">账号状态</option>
                                <option value="1">正常</option>
                                <option value="0">冻结</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <select name="is_proving" id="is_proving" v-model="is_proving"  class="form-control">
                                <option value="">实名认证</option>
                                <option value="1">已认证</option>
                                <option value="0">未认证</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <select name="activation" id="activation" v-model="activation"  class="form-control">
                                <option value="">是否激活</option>
                                <option value="1">已激活</option>
                                <option value="0">未激活</option>
                            </select>
                        </div>

                        <div class="col-md-1">
                            <a type="button" class="btn btn-primary" @click="search"><i class="fa fa-search"></i> 搜索</a>
                        </div>
                        <div class="col-md-1">
                            <a type="button" class="btn btn-success" @click="export1">导出当前页</a>
                        </div>
                        <div class="col-md-1">
                            <a type="button" class="btn btn-success" @click="export2">导出所有</a>
                        </div>
                    </div>

                </el-form-item>
            </el-form>
            <div class="panel panel-default">

            </div>
            <div class="example-wrap">
                <div class="example" >

                    <el-table :data="tableData" border highlight-current-row v-loading="listLoading" element-loading-text="拼命加载中..." @selection-change="handleSelectionChange" style="width: 100%">
                        <el-table-column prop="account" label="账号"  show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="nickname" label="姓名"  show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="regular"   label="定期值" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="increment"   label="增值" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="current"   label="提速值" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="abc_coin"   label="可用" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="dongjie"   label="冻结" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="today_team_money"   label="今日团队业绩" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="frozen_push"   label="直接推荐奖金冻结" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="frozen_indirect"   label="间接推荐奖金冻结" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="freeze_team"   label="冻结日团队业绩" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column prop="freeze_yeji"   label="冻结总业绩" show-overflow-tooltip align="center"></el-table-column>
                        <el-table-column align="center"  width="150" label="操作">
                            <template scope="scope">
                                <span v-if="scope.row.is_proving==1" >
                                    <el-button size="small" type="button" @click="money(scope.row)">资金管理</el-button>
                                </span>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="layout-pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10, 20, 50, 100]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="totalCount">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

{include file="public/footer" /}

<script type="text/javascript">

    var vm = new Vue({
        el: '#app',
        data: {
            imgPath: '/uploads/images/',
            //表格当前页数据
            tableData: [],
            //多选数组
            multipleSelection: [],
            //搜索条件
            key: '',
            type:'',
            is_proving:'',
            activation:'',
            //默认每页数据量
            pageSize: 10,
            //当前页码
            currentPage: 1,
            //默认数据总数
            totalCount: 0,
            //列表加载遮罩
            listLoading: false
        },
        methods: {
            //从服务器读取数据
            loadData(key,currentPage,pageSize,type,is_proving,activation){
                vm.listLoading = true;
                $.getJSON('{:url("member_money_list")}', {key:key,is_proving:is_proving,activation:activation,type:type,page:currentPage,rows:pageSize}, function(data){
                    vm.tableData = [];
                    vm.totalCount = data.count;
                    for(var i=0;i<data.list.length;i++){
                        if(data.list[i]){
                            vm.tableData.push(data.list[i]);
                        }
                    }
                    vm.listLoading = false;

                });
            },
            openMessage(type,message){
                this.$message({
                    type: type,
                    duration: 1500,
                    message: message
                });
            },
            //每页显示数据量变更
            handleSizeChange(val) {
                this.pageSize = val;
                this.loadData(this.key,this.currentPage, this.pageSize,this.type,this.is_proving,this.activation);
            },
            //页码变更
            handleCurrentChange(val) {
                this.currentPage = val;
                this.loadData(this.key,this.currentPage, this.pageSize,this.type,this.is_proving,this.activation);
            },
            //多选响应
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //搜索
            search(){
                this.loadData(this.key,this.currentPage, this.pageSize,this.type,this.is_proving,this.activation);
                vm.listLoading = false;
            },
            export1(){
                window.location.href="{:url('member/member_money_excel_list')}?key="+this.key+"&currentPage="+this.currentPage+"&pageSize="+this.pageSize+"&type="+this.type+"&is_proving="+this.is_proving+"&activation="+this.activation+"&excel_state=1";
            },
            export2(){
                window.location.href="{:url('member/member_money_excel_list')}?key="+this.key+"&type="+this.type+"&is_proving="+this.is_proving+"&activation="+this.activation+"&excel_state=2";
            },
            //编辑资金
            money(row) {
                window.location.href="{:url('money/member_money')}?uuid="+row.uuid;
            }
            ,
            //编辑
            edit(row) {
                window.location.href="{:url('edit_member')}?id="+row.id;
            },
            //重置密码
            reset(row){
                //询问框
                layer.confirm('是否重置登录/支付密码？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post("{:url('reset_member_pwd')}",{id:row.id},function (re) {
                        if(re.code == 1011){
                            layer.msg(re.msg,{time:1000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg(re.msg,{time:1500});
                        }
                    });
                }, function(){
                    layer.msg('已取消操作',{time:1500});
                });
            },
            //冻结当前用户
            frozen(row){
                layer.confirm('是否冻结当前用户？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    $.post("{:url('member_status')}",{id:row.id},function (re) {
                        if(re.code == 1){
                            layer.msg(re.msg,{time:1000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.msg(re.msg,{time:1500});
                        }
                    });
                }, function(){
                    layer.msg('已取消操作',{time:1500});
                });
            },
            //批量删除
            del() {
                if(this.multipleSelection.length==0){
                    vm.openMessage('warning','请选择至少一条数据进行删除！');
                    return;
                }
                var array = [];
                this.multipleSelection.forEach((row) => {
                    array.push(row.id);
                })

                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    $.ajax({
                        url: '{:url("rescue/del_article")}',
                        data:"id="+array,
                        type: "POST",
                        dataType:'json',
                        success:function(res){
                            if(res.code == 1){
                                vm.openMessage('success',res.msg);
                                vm.loadData(vm.key, vm.currentPage, vm.pageSize);
                            }else{
                                vm.openMessage('error',res.msg);
                            }
                        },
                        error:function(er){

                        }
                    });
                }).catch(() => {
                    vm.openMessage('info','已取消删除');
                });
            }
        }
    })

    //载入数据
    vm.loadData(vm.key, vm.currentPage, vm.pageSize);

</script>

</body>
</html>